<div id="home">
    <div id="cards-container">
        <div id="card">
            <img id="card-image" src="/images/btc-1h.png" alt="some image">
            <p class="card=description">Sell signal on BTC 1 hour chart, BTC hit the top of the bollinger band and is set to retrace to the 20 SMA.</p>
        </div>
    </div>
</div>